/***************
/* VARIABLES
/**************/

:root {
  --dark-navy: #1A2A33;
  --semi-dark-navy: #1F3641;
  --silver: #A8BFC9;
  --silver-hover: #DBE8ED;
  --light-blue: #31C3BD;
  --light-blue-hover: #65E9E4;
  --light-yellow: #F2B137;
  --light-yellow-hover: #FFC860;
}

/*****************
/* BASE STYLES
/*****************/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background: var(--dark-navy);
  color: var(--silver);
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  overflow-y: hidden;
  height: 100vh;
  position: relative;
}

button {
  border: 0;
  text-transform: uppercase;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu, .board {
  width: min(48rem, 90vw);
}